.comment__container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 600px;
  border: 1px solid rgb(125, 121, 121);
  border-radius: 12px;
  margin-bottom: 10px;
}

.comment {
  margin-top: 10px;
}

.comment__header {
  display: flex;
  background-color: rgb(211, 248, 236);
  height: 40px;
  align-items: center;
  gap: 15px;
  border-radius: 12px;
  padding: 2px;
}

.comment__icon {
  display: flex;
  gap: 2px;
  margin-right: auto;
}

.comment__arrow {
  display: flex;
  align-items: center;
  gap: 2px;
}

.comment__text {
  padding: 7px;
  height: auto;
}

.reply__input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 600px;
  margin-bottom: 10px;
}

.button__section__reply {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
