body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
  font-family: "Jost", sans-serif;
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
}
